.container{
    color: #e8eff0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 1rem;
  }
  
  .titulo{
    color: #6de1e9;
    border-bottom: 10px solid #e086ca;
    padding-bottom: 0.3rem;
    margin-top: 5rem;
  }
  
  
  .lista{
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  .lista-item{
    background-color: #1e1e1e;
    padding: 0.7rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease;
  }
  
  .lista-item:hover{
    background-color: #4e5e4f;
  }
 
  